 

<div class="row">
<div class="medium-6 columns">
<img class="thumbnail" src="http://placehold.it/650x350">
<div class="row small-up-4">
<div class="column">
<img class="thumbnail">
</div>
<div class="column">
<img class="thumbnail">
</div>
<div class="column">
<img class="thumbnail">
</div>
<div class="column">
<img class="thumbnail">
</div>
</div>
</div>
<div class="medium-6 large-5 columns">
<h2><%= @fundraiser.title %></h2>
<p><%= @fundraiser.description %></p>
<h5>We need <%= @fundraiser.goal %> and we're at  0 </h5>
<%= render '/bids/new_bid' %>
<!-- <select>
<option value="husker">Small</option>
<option value="starbuck">Medium</option>
<option value="hotdog">Large</option>
<option value="apollo">Yeti</option>
</select> -->
<!-- <div class="row">
<div class="small-3 columns">
<label for="middle-label" class="middle">Quantity</label>
</div>
<div class="small-9 columns">
<input type="text" id="middle-label" placeholder="One fish two fish">
</div>
</div> -->

<div class="small secondary expanded button-group">
<a class="button small">Facebook</a>
<a class="button small">Twitter</a>
<a class="button small">Yo</a>
</div>
</div>
</div>
<div class="column row">

</div>