/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


h1,h2,h3,h4,h5,h6,p,label{
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Montserrat', sans-serif;  
  opacity: .89;
  /*font-weight: 700;*/
}

a{
  color:#42A63F;
  &:hover{color:#A63F77}
}

.button{
  background-color:#42A63F;
  &:hover{background-color:#A63F77;}
}
.top-bar{
  background-color: white;
  border-bottom: medium solid rgba(0,0,0,0.87);
  .nav-title{
    margin-left: 20px;
    .nav-title-text{color: #42A63F;
                  font-weight: 700;
                  &:hover{color:#A63F77;}
                }
  h3,h5{display: inline;}
  }
  h5{ border-left: medium solid;}
  /*link{

  }*/
}

h1,h2{
  font-weight: 700;
}

.main{
  text-align: center;
}

.featured{
  text-align: center;
}

.button{
  background-color: #42A63F;
}